.ipynb_checkpoints/
.Rhistory
.RData
/output/**
!/output/*REddyProc*.txt


# dev
# FluxFilter.ipynb
# /src/**
# /tools/**
# /test/**
# !/test/reddyproc/test_averaging_fixtures/**
# !/test/reddyproc/test_process_fixtures/**

# dev-test
# /bglabutils/**
# /test/reddyproc/test_averaging_fixtures/**
# /test/reddyproc/test_process_fixtures/**
# /misc/samples/**
# /misc/colab_version_samples/**
# ! /output/*REddyProc*.txt


# dev-env
# /.idea/**
# /.github/**
# /docs/**
# /misc/archive/**
# .gitattributes
# README.md